.logo {
  &--domru {
    background-image: url('../assets/icons/domru-logo.svg');
  }

  /* Пример */
  &--github {
    background-image: url('../assets/icons/social/GU.svg');
  }

  &--facebook {
    background-image: url('../assets/icons/social/FB.svg');
  }

  &--google {
    background-image: url('../assets/icons/social/G+.svg');
  }

  /* Нет такого провайдера */
  &--gu {
    background-image: url('../assets/icons/social/GU.svg');
  }

  /* Нет такого провайдера */
  &--vk {
    background-image: url('../assets/icons/social/VK.svg');
  }
}
