@font-face {
  font-weight: 500;
  font-family: 'Fact';
  font-style: normal;
  src: url('./fonts/Fact-Medium.eot');
  src: url('./fonts/Fact-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Fact-Medium.woff2') format('woff2'),
    url('./fonts/Fact-Medium.woff') format('woff');
}

@font-face {
  font-weight: bold;
  font-family: 'Fact';
  font-style: normal;
  src: url('./fonts/Fact-Bold.eot');
  src: url('./fonts/Fact-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Fact-Bold.woff2') format('woff2'),
    url('./fonts/Fact-Bold.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-family: 'Fact';
  font-style: normal;
  src: url('./fonts/Fact-Regular.eot');
  src: url('./fonts/Fact-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Fact-Regular.woff2') format('woff2'),
    url('./fonts/Fact-Regular.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-family: 'Fact';
  font-style: italic;
  src: url('./fonts/Fact-LightItalic.eot');
  src: url('./fonts/Fact-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Fact-LightItalic.woff2') format('woff2'),
    url('./fonts/Fact-LightItalic.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-family: 'Fact';
  font-style: normal;
  src: url('./fonts/Fact-Light.eot');
  src: url('./fonts/Fact-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Fact-Light.woff2') format('woff2'),
    url('./fonts/Fact-Light.woff') format('woff');
}

/* Фоллбэк, если не придут шрифты чата dom.ru */
@font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/RobotoRegular.woff2') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: icomoon;
  font-style: normal;
  src: url('./fonts/icomoon.woff') format('woff');
}

@font-face {
  font-family: 'CoFo Sans';
  src: url('./fonts/CoFoSans-Bold.eot');
  src: local('CoFo Sans Bold'), local('CoFoSans-Bold'),
  url('./fonts/CoFoSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CoFoSans-Bold.woff2') format('woff2'),
  url('./fonts/CoFoSans-Bold.woff') format('woff'),
  url('./fonts/CoFoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CoFo Sans';
  src: url('./fonts/CoFoSans-Black.eot');
  src: local('CoFo Sans Black'), local('CoFoSans-Black'),
  url('./fonts/CoFoSans-Black.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CoFoSans-Black.woff2') format('woff2'),
  url('./fonts/CoFoSans-Black.woff') format('woff'),
  url('./fonts/CoFoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CoFo Sans';
  src: url('./fonts/CoFoSans-Regular.eot');
  src: local('CoFo Sans'), local('CoFoSans-Regular'),
  url('./fonts/CoFoSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CoFoSans-Regular.woff2') format('woff2'),
  url('./fonts/CoFoSans-Regular.woff') format('woff'),
  url('./fonts/CoFoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoFo Sans';
  src: url('./fonts/CoFoSans-Medium.eot');
  src: local('CoFo Sans Medium'), local('CoFoSans-Medium'),
  url('./fonts/CoFoSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CoFoSans-Medium.woff2') format('woff2'),
  url('./fonts/CoFoSans-Medium.woff') format('woff'),
  url('./fonts/CoFoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CoFo Robert';
  src: url('./fonts/CoFoRobert-RegularItalic.eot');
  src: local('CoFo Robert Italic'), local('CoFoRobert-RegularItalic'),
  url('./fonts/CoFoRobert-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CoFoRobert-RegularItalic.woff2') format('woff2'),
  url('./fonts/CoFoRobert-RegularItalic.woff') format('woff'),
  url('./fonts/CoFoRobert-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

