.swr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Inter';
}

.swr-background #big_cat {
  width: 55%;
  height: 65%;
  position: fixed;
  left: 5%;
  bottom: -20%;
  z-index: -10;
}

.swr-background #small_cat {
  display: none;
}

.swr-content {
  width: 500px;
  height: 250px;
  margin-top: 136px;
}

.swr-content h1 {
  font-size: 44px;
  line-height: 52px;
  letter-spacing: -2px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  font-weight: 800;
}

.swr-content p {
  font-weight: 300;
  font-size: 17.5px;
  line-height: 24px;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
  color: #222222;
}

.swr-button {
  width: 148px;
  height: 48px;
  box-shadow: 0px 2px 2px rgba(10, 43, 103, 0.1), 0px 2px 12px rgba(10, 43, 103, 0.15);
  background-color: #C51F1F;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.5px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.swr-button-desktop {
  display: flex !important;
}

.swr-button-tablet {
  display: none !important;
}

@media (max-width: 1279px) {
  .swr-content {
    width: 470px;
    margin-top: 70px;
  }

  .swr-content h1 {
    font-size: 33px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 18px;
  }

  .swr-content p {
    font-size: 16.5px;
    line-height: 23px;
    margin-bottom: 32px;
  }

  .swr-button {
    width: 148px;
    height: 44px;
    font-size: 16px;
    line-height: 21px;
  }

  .swr-background #big_cat {
    width: 70%;
    height: 70%;
    bottom: -20%;
    left: 2%;
  }
}

@media (max-width: 767px) and (max-height: 480px) {
  .swr-background #big_cat {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .swr-content {
    width: 376px;
  }

  .swr-content p {
    max-width: 360px;
  }

  .swr-button {
    width: 119px;
    height: 44px;
  }

  .swr-button-desktop {
    display: none !important;
  }

  .swr-button-tablet {
    display: flex !important;
  }

  .swr-background #big_cat {
    display: none;
  }

  .swr-background #small_cat {
    display: initial;
    width: 70%;
    position: fixed;
    left: -4%;
    z-index: -10;
    bottom: -15%;
  }
}

@media (max-width: 767px) and (max-height: 480px) {
  .swr-background #small_cat {
    bottom: -170px;
    width: 70%;
  }
}

@media (max-width: 767px) {
  .swr-content {
    margin: 0 16px;
    margin-top: 36px;
  }

  .swr-content h1 {
    font-size: 31px;
    margin-bottom: 18px;
  }

  .swr-content p {
    max-width: 260px;
    margin-bottom: 32px;
    font-size: 16px;
  }

  .swr-button {
    width: 288px;
  }

  .swr-background #small_cat {
    width: 135%;
    bottom: -10%;
    max-width: 200%;
  }
}
