/*
@tailwind base;
@tailwind components;
 */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace,monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

b,strong {
  font-weight: bolder
}

code {
  font-family: monospace,monospace;
  font-size: 1em
}

img {
  border-style: none
}

button,input,select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,input {
  overflow: visible
}

button,select {
  text-transform: none
}

@media (min-width: 768px) {
  .container {
    max-width:768px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width:1280px
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0
}

.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255,255,255,var(--bg-opacity))
}

.bg-extra {
  --bg-opacity: 1;
  background-color: #c51f1f;
  background-color: rgba(197,31,31,var(--bg-opacity))
}

.hover\:bg-extra:hover {
  --bg-opacity: 1;
  background-color: #c51f1f;
  background-color: rgba(197,31,31,var(--bg-opacity))
}

.bg-no-repeat {
  background-repeat: no-repeat
}

.bg-contain {
  background-size: contain
}

.border-main-600 {
  --border-opacity: 1;
  border-color: #a7a7a7;
  border-color: rgba(167,167,167,var(--border-opacity))
}

.border-accentBlue {
  --border-opacity: 1;
  border-color: #6688c9;
  border-color: rgba(102,136,201,var(--border-opacity))
}

.focus\:border-extra:focus {
  --border-opacity: 1;
  border-color: #c51f1f;
  border-color: rgba(197,31,31,var(--border-opacity))
}

.rounded-lg {
  border-radius: .5rem
}

.rounded-full {
  border-radius: 50%
}

.border-dashed {
  border-style: dashed
}

.border {
  border-width: 1px
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.table {
  display: table
}

.hidden {
  display: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.flex-1 {
  flex: 1 1 0%
}

.flex-basis-auto {
  flex: 0 1 auto
}

.clearfix:after {
  content: "";
  display: table;
  clear: both
}

.font-light {
  font-weight: 300
}

.h-0 {
  height: 0
}

.h-2 {
  height: .5rem
}

.h-6 {
  height: 1.5rem
}

.h-8 {
  height: 2rem
}

.h-12 {
  height: 3rem
}

.h-14 {
  height: 56px
}

.h-full {
  height: 100%
}

.h-30px {
  height: 30px
}

.text-xs {
  font-size: .75rem
}

.text-sm {
  font-size: .875rem
}

.text-base {
  font-size: 1rem
}

.text-3xl {
  font-size: 1.875rem
}

.leading-none {
  line-height: 1
}

.leading-normal {
  line-height: 1.5
}

.m-auto {
  margin: auto
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-0 {
  margin-top: 0
}

.mr-0 {
  margin-right: 0
}

.ml-0 {
  margin-left: 0
}

.mr-1 {
  margin-right: .25rem
}

.mt-2 {
  margin-top: .5rem
}

.mr-2 {
  margin-right: .5rem
}

.mb-2 {
  margin-bottom: .5rem
}

.ml-2 {
  margin-left: .5rem
}

.mb-3 {
  margin-bottom: .75rem
}

.mt-4 {
  margin-top: 1rem
}

.mr-4 {
  margin-right: 1rem
}

.mb-4 {
  margin-bottom: 1rem
}

.ml-4 {
  margin-left: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mr-6 {
  margin-right: 1.5rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mt-7 {
  margin-top: 1.75rem
}

.mb-7 {
  margin-bottom: 1.75rem
}

.mt-8 {
  margin-top: 2rem
}

.mr-8 {
  margin-right: 2rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.max-w-440px {
  max-width: 440px
}

.min-h-full {
  min-height: 100%
}

.opacity-50 {
  opacity: .5
}

.opacity-90 {
  opacity: .9
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.p-4 {
  padding: 1rem
}

.px-0 {
  padding-left: 0;
  padding-right: 0
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.pb-2 {
  padding-bottom: .5rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pl-8 {
  padding-left: 2rem
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.bottom-0 {
  bottom: 0
}

.resize {
  resize: both
}

.fill-current {
  fill: currentColor
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-black-50 {
  color: rgba(0,0,0,.50196)
}

.text-black-80 {
  color: rgba(0,0,0,.8)
}

.text-black {
  --text-opacity: 1;
  color: #000;
  color: rgba(0,0,0,var(--text-opacity))
}

.text-main-500 {
  --text-opacity: 1;
  color: #c7c7c7;
  color: rgba(199,199,199,var(--text-opacity))
}

.text-main-600 {
  --text-opacity: 1;
  color: #a7a7a7;
  color: rgba(167,167,167,var(--text-opacity))
}

.text-extra {
  --text-opacity: 1;
  color: #c51f1f;
  color: rgba(197,31,31,var(--text-opacity))
}

.text-accentRed-1000 {
  --text-opacity: 1;
  color: #ff312c;
  color: rgba(255,49,44,var(--text-opacity))
}

.text-accentRed {
  --text-opacity: 1;
  color: #c51f1f;
  color: rgba(197,31,31,var(--text-opacity))
}

.text-accentBlue-900 {
  --text-opacity: 1;
  color: #1d45a1;
  color: rgba(29,69,161,var(--text-opacity))
}

.text-accentBlue-1100 {
  --text-opacity: 1;
  color: #2b539b;
  color: rgba(43,83,155,var(--text-opacity))
}

.text-accentBlue {
  --text-opacity: 1;
  color: #6688c9;
  color: rgba(102,136,201,var(--text-opacity))
}

.text-accentGreen-1000 {
  --text-opacity: 1;
  color: #15a250;
  color: rgba(21,162,80,var(--text-opacity))
}

.text-accentGreen {
  --text-opacity: 1;
  color: #69be28;
  color: rgba(105,190,40,var(--text-opacity))
}

.italic {
  font-style: italic
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}

.capitalize {
  text-transform: capitalize
}

.underline {
  text-decoration: underline
}

.align-middle {
  vertical-align: middle
}

.w-0 {
  width: 0
}

.w-1 {
  width: .25rem
}

.w-2 {
  width: .5rem
}

.w-3 {
  width: .75rem
}

.w-4 {
  width: 1rem
}

.w-5 {
  width: 1.25rem
}

.w-12 {
  width: 3rem
}

.w-14 {
  width: 56px
}

.w-auto {
  width: auto
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.w-60px {
  width: 60px
}

.gap-4 {
  grid-gap: 1rem;
  gap: 1rem
}

.transform {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))
}

@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}

@keyframes ping {
  75%,to {
    transform: scale(2);
    opacity: 0
  }
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

@keyframes bounce {
  0%,to {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(.8,0,1,1)
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,.2,1)
  }
}

.sm\:block {
  display:block
}

.sm\:flex-row {
  flex-direction: row
}

.sm\:mt-0 {
  margin-top: 0
}

.sm\:mb-0 {
  margin-bottom: 0
}

.sm\:mb-4 {
  margin-bottom: 1rem
}

.sm\:ml-5 {
  margin-left: 1.25rem
}

.sm\:mt-6 {
  margin-top: 1.5rem
}

.sm\:ml-6 {
  margin-left: 1.5rem
}

.sm\:mb-8 {
  margin-bottom: 2rem
}

.sm\:mr-10 {
  margin-right: 2.5rem
}

.sm\:px-2 {
  padding-left: .5rem;
  padding-right: .5rem
}

.sm\:px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.sm\:pb-3 {
  padding-bottom: .75rem
}

.sm\:pb-8 {
  padding-bottom: 2rem
}

@media (min-width: 768px) {
  .md\:flex {
    display:flex
  }

  .md\:flex-row {
    flex-direction: row
  }

  .md\:flex-wrap {
    flex-wrap: wrap
  }

  .md\:items-end {
    align-items: flex-end
  }

  .md\:justify-start {
    justify-content: flex-start
  }

  .md\:justify-between {
    justify-content: space-between
  }

  .md\:h-10 {
    height: 2.5rem
  }

  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto
  }

  .md\:mr-4 {
    margin-right: 1rem
  }

  .md\:mt-8 {
    margin-top: 2rem
  }

  .md\:px-2 {
    padding-left: .5rem;
    padding-right: .5rem
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }

  .md\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
  }

  .md\:pb-4 {
    padding-bottom: 1rem
  }

  .md\:pb-10 {
    padding-bottom: 2.5rem
  }

  .md\:text-left {
    text-align: left
  }

  .md\:text-center {
    text-align: center
  }

  .md\:text-right {
    text-align: right
  }

  .md\:w-20 {
    width: 5rem
  }

  .md\:w-auto {
    width: auto
  }

  .md\:w-full {
    width: 100%
  }

  .md\:w-3\/7 {
    width: 42.8%
  }
}

@media (min-width: 1280px) {
  .xl\:items-start {
    align-items:flex-start
  }

  .xl\:h-16 {
    height: 4rem
  }

  .xl\:mt-2 {
    margin-top: .5rem
  }

  .xl\:mt-8 {
    margin-top: 2rem
  }

  .xl\:mt-12 {
    margin-top: 3rem
  }

  .xl\:mt-17 {
    margin-top: 73px
  }

  .xl\:max-w-470px {
    max-width: 470px
  }

  .xl\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .xl\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
  }

  .xl\:pb-37px {
    padding-bottom: 37px
  }

  .xl\:w-32 {
    width: 8rem
  }
}
