html {
  @apply font-body;
}

body {
  font-size: 14px;

  line-height: 1.36;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 1.29;
  }

  @media (min-width: 1280px) {
    font-size: 17px;
  }
}

h1 {
  font-size: 26px;
  b {
    font-size: 1.03em;
  }
  line-height: 1.18;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1280px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 23px;
  line-height: 1.22;

  @media (min-width: 768px) {
    font-size: 26px;
  }

  @media (min-width: 1280px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  @media (min-width: 1280px) {
    font-size: 24px;
  }
}
h4 {
  font-size: 16px;
  margin-left: 7px;

  @media (min-width: 768px) {
    font-size: 19px;
  }

  @media (min-width: 1280px) {
    font-size: 20px;
  }
}

.highlighted-text {
  @apply .text-accentBlue-1200;
}

.trigger-hover-text {
}

.highlighted-hover-text {
  &:hover {
    @apply .text-accentBlue-1200-hover;

    .trigger-hover-text {
      @apply .text-accentBlue-1200-hover;
    }
  }
}

.underline-hovering-text {
  &:hover {
    @apply .underline;
  }
}

/* TODO: Попытаться поместить кастомные классы, связанные с текстом 
* в @layer или plugins tailwind 
*/
.text-custom-main {
  @apply .text-custom/base;

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @apply .text-custom/md;
  }

  @media only screen and (max-width: 767px) {
    @apply .text-custom/sm;
  }
}

.text-custom-sm {
  @apply .text-custom/sm;
  @apply tracking-wider;

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @apply .text-custom/2sm;
  }

  @media only screen and (max-width: 767px) {
    @apply .text-custom/3sm;
  }
}

.text-custom-4sm {
  @apply .text-custom/4sm;
  @apply tracking-wider;

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @apply .text-custom/5sm;
  }

  @media only screen and (max-width: 767px) {
    @apply .text-custom/6sm;
  }
}

.text-custom-2sm {
  @apply .text-custom/2sm;
  @apply tracking-wider/sm;

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @apply .text-custom/3sm;
  }

  @media only screen and (max-width: 767px) {
    @apply .text-custom/4sm;
  }
}

.text-custom-3lg {
  @apply .text-custom/3lg;

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @apply .text-custom/2lg;
  }

  @media only screen and (max-width: 767px) {
    @apply .text-custom/lg;
  }
}

.text-custom-6lg {
  @apply .text-custom/6lg;

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @apply .text-custom/5lg;
  }

  @media only screen and (max-width: 767px) {
    @apply .text-custom/4lg;
  }
}

body.custom #content p,
.confirm__title,
.field__input,
.field__input::placeholder,
.code,
.forgot,
.phone-number,
.verification__sub,
.resend,
.verification__text,
.enter-login-link,
#numbers-password > .text-symbols,
#letters-password > .text-symbols,
.titems .org-cell,
.city {
  @apply .text-custom-main;
}

.btn,
.btn:not(.message__btn) .btn-main {
  @apply .text-custom-sm;
}

.timer,
.titems .role-cell {
  @apply .text-custom-2sm;
}

.field__error-message,
.field__label,
.personal-data-process-accept,
figcaption,
caption,
summary,
.caption,
.copyright,
#show-cities > span,
#letters-password,
#numbers-password,
.theader .org-cell,
.theader .role-cell {
  @apply .text-custom-4sm;
}

.sms-input,
.city-group-letter {
  @apply .text-custom-3lg;
  @apply font-bold;
}

.page-title-wrapper .page-title,
.page-title,
.titleAllPage,
.choose-city-text {
  @apply .text-custom-6lg;
  @apply font-black;
}
