.btn {
  @apply .block .uppercase .tracking-wider .p-4 .rounded-lg .shadow;

  border-radius: 8px;
  height: 48px;
  padding: 0;

  @media (min-width: 1199px) {
  }

  @media screen and (max-width: 640px) {
    height: 44px;
  }

  @media screen and (max-width: 320px) {
    height: 44px;
  }

  &:disabled {
    @apply .opacity-40 .cursor-not-allowed;
    &:hover {
       @apply .shadow;
    }
  }

  &:hover {
    @apply .shadow-md;
  }

  &:focus {
    @apply .outline-none;
  }

  &:active {
    @apply .shadow-inner;
  }
}

.text-accentBlue-900 {
  @apply .text-accentBlue-900;
}

.btn-main {
  @apply .bg-extra .text-white;

  &:hover:not(:disabled) {
    @apply .bg-accentRed-100;
   }
}

.btn-main:active:not(:disabled){
  background-color: #C51F1F;
}

.btn-sell {
  @apply .bg-accentBlue .text-white;

  &:hover,
  &:active {
    @apply .bg-accentBlue-700-hover;
  }
}

.btn__choose {
  width: 203px;
  box-sizing: border-box;

  @media screen and (max-width: 959px) {
    width: 96px;
  }

  @media screen and (max-width: 640px) {
    width: 88px;
  }

  @media screen and (max-width: 479px) {
    display: none;
  }
}

.phone-icon {
  width: 29px;
  height: 29px;

  @media screen and (max-width: 640px) {
    width: 22px;
    height: 22px;
  }
}

.city-icon {
  width: 23px;
  height: 23px;
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-enter {
  padding: 13.5px 19px 13.5px;

  @media screen and (max-width: 479px){
    width: 50%;
  }
}


@media screen and (max-width: 479px) {
  .btn {
    font-size: 13px;
  }

  .btn.w-1\/2 {
    width: 100%;
  }

  .btn.btn-enter {
    max-width: 136px;
    box-sizing: border-box;
  }
}
