.select-city-confirmation {
  background: #ffffff;
  position: fixed;
  right: 27px;
  top: 80px;
  border-radius: 20px;
  padding: 24px;
}

.select-city-confirmation {
  > div {
    > :not(:first-child) {
      margin-top: 24px;
    }
  }
}

.confirm__title {
  color: var(--main-800);
  max-width: 400px;
}

.confirm__btns {
  > :not(:first-child) {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .select-city-confirmation {
    padding: 18px;
  }

  .select-city-confirmation > div > :not(:first-child) {
    margin-top: 18px;
  }

  .confirm__btns > .btn-main {
    width: auto;
    height: auto;
  }
}
