.confirm__title {
  font-size: 36px;
  line-height: 45px;
  opacity: 0.8;
  font-weight: bold;
}

.confirm__btns {
  margin-top: 43px;
}

.confirm__btn {
  width: 203px;
  box-sizing: border-box;
}

.confirm__btn:first-child {
  margin-right: 46px;
}

@media screen and (max-width: 1199px){
  .confirm__btns {
    margin-top: 32px;
  }
}

@media screen and (max-width: 959px){
  .confirm__btns {
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
  }

  .confirm__btn:first-child {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .confirm__title {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 640px){
  .confirm__btns {
    flex-direction: row;
    margin-top: 28px;
  }

  .confirm__btn:first-child {
    margin-right: 16px;
    margin-bottom: 0;
  }
  .confirm__title {
    font-size: 27px;
    line-height: 32px;
    opacity: 0.8;
    max-width: 300px;
  }

}

@media screen and (max-width: 479px){
  .confirm__btns {
    flex-direction: column;
  }

  .confirm__btn:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
