.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 16px
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px
}

.trow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.theader > div {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #899DA8;
}

.theader-mobile {
  display: none !important;
}

.titems {
  cursor: pointer;
  .role-cell, .org-cell {
    color: #16629A;
  }
  &:hover {
    .role-cell, .org-cell {
      color: #0090D8;
    }
  }
  .org-cell {
    flex-grow: 2;
    font-size: 18px;
    line-height: 24px;
    word-break: break-word;
  }
  .role-cell {
    flex-grow: 1;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: right;
    color: #899DA8;
  }
}

@media (max-width: 1279px) {
  .table-wrapper {
    gap: 14px;
  }
  .theader > div {
    font-size: 12px;
    line-height: 15px;
  }
  .titems {
    .org-cell {
      font-size: 17px;
      line-height: 23px;
    }
    .role-cell {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.03em;
    }
  }
}

@media (max-width: 767px) {
  .theader {
    display: none;
  }
  .theader-mobile {
    display: flex !important;
  }
  .theader > div {
    font-size: 11px;
    line-height: 14px;
  }
  .table {
    gap: 16px;
  }
  .trow {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .titems {
    .org-cell {
      font-size: 16px;
      line-height: 21px;
    }
    .role-cell {
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.03em;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .table-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .table {
    display: inline-block;
    max-width: 440px;
  }
  .trow {
    vertical-align: middle;
  }
  .trow div {
    display: table-cell;
    vertical-align: middle;
  }
}


