.container {
  display: flex;
}

.ok {
  width: 104px;
  height: 104px;
  margin-right: 33px;
}

.text {
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.text__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  padding-bottom: 24px;
  opacity: 1;
  margin-top: 12px;
}

.text__email {
  font-size: 19px;
  line-height: 26px;
  opacity: 1;
  padding-bottom: 10px;
  letter-spacing: -0.35px;
}

.text--close {
  padding-bottom: 3px;
}

.text--far {
  padding-bottom: 40px;
}

.btn--thanks {
  width: 120px;
  height: 44px;
}

@media screen and (max-width: 1199px) {
  .ok {
    width: 78px;
    height: 78px;
    margin-right: 28px;
  }

  .text {
    font-size: 15px;
    line-height: 19px;
  }

  .text__email {
    font-size: 19px;
    line-height: 26px;
  }

  .text__title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
  }

  .text--far {
    padding-bottom: 43px;
  }
}

@media screen and (max-width: 959px) {
  .container {
    flex-direction: column;
  }

  .ok {
    margin-bottom: 40px;
    margin-right: 0;
  }

}


@media screen and (max-width: 640px) {
  .ok {
    margin-bottom: 12px;
  }

  .text__email {
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
  }

  .text__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 18px;
  }

  .btn--thanks {
    height: 44px;
  }

}

@media screen and (max-width: 321px) {
  .ok {
    margin-bottom: 16px;
  }

  .text__title {
    font-weight: 700;
    font-size: 33px;
    line-height: 33px;
    padding-bottom: 18px;
  }

  .btn--thanks {
    height: 44px;
    width: 100%;
  }
}
