.error {
    &-heading {
       font-size: 44px;
       line-height: 52px;
       letter-spacing: -2px;
       color: rgba(0, 0, 0, 0.8);
       margin-bottom: 20px;
       font-weight: 800;

    @media (max-width: 1200px) {
      font-size: 33px;
      line-height: 40px;
      letter-spacing: -1px;
      margin-bottom: 18px;
    }

    @media (max-width: 320px) {
      font-size: 31px;
      margin-bottom: 18px;
    }
}

&-img {
   position: fixed;
   z-index: -1;
   bottom: -5vh;
   left: 2vw;
   width: 138vw;
   height: auto;
   max-height: 100%;
   max-width: none;

  @media (min-width: 639px) {
    left: -3vw;
    width: 57vw;
  }

  @media (min-width: 959px) {
    bottom: -10vh;
    left: -3vw;
    width: 61vw;
  }
}

&-btn {
   padding-left: 1rem;
   padding-right: 1rem;

@media (min-width: 639px) {
  width: fit-content;
}
}
}

.error-container {
  width: 750px;
  margin-top: 105px;
  margin-left: -150px;
  @media screen and (max-width: 640px) {
    width: 580px;
    margin-top: 170px;
    margin-left: -65px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 50px;
    width: auto;
    margin-left: 0px;
  }
}

.error-left-item{
  width: 450px;
  @media screen and (max-width: 640px) {
    width: 380px
  }
  @media screen and (max-width: 320px) {
    width: auto;
    padding-left: 0px;
  }
}

.error-background {
  width: 194.8px;
  height: 260px;

  @media screen and (max-width: 640px) {
    width: 149.85px;
    height: 200px;
  }
  @media screen and (max-width: 320px) {
    width: 119.88px;
    height: 160px;

    margin-bottom: 32px;
    margin-top: 10px;
  }
}

.error-heading{
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  @media screen and (max-width: 640px) {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
  }
  @media screen and (max-width: 320px) {

    font-weight: 700;
    font-size: 37px;
    line-height: 100%;
  }
}

.error-custom-text{
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  @media screen and (max-width: 640px) {
    font-weight: 350;
    font-size: 17px;
    line-height: 23px;
  }
  @media screen and (max-width: 320px) {

    font-weight: 350;
    font-size: 16px;
    line-height: 130%;
  }
}
