.field {
  display: flex;
  flex-direction: column;


&
--error {

.field__input {
  @apply .border-accentRed;
}

}

&
--row {
  flex-direction: row;
}
}

.field__container {
  display: flex;
  flex-flow: column;
  position: relative;
}

/* Эти штуки руинят форму регистрации!!!*/
/*@media (min-width: 768px) {*/
/*  .field__container {*/
/*    margin-bottom: 24px;*/
/*  }*/
/*}*/

/*@media (min-width: 1280px) {*/
/*  .field__container {*/
/*    margin-bottom: 32px;*/
/*  }*/
/*}*/

.field__open {
  cursor: pointer;
  position: absolute;
  right: 13px;
  transform: translateY(-50%);
  top: 50%;
}

.eye {
  opacity: 0.2;
  margin-bottom: 1px;
}

.field__open:hover .eye {
  opacity: 0.5;
}

.field__input {
  @apply .border .border-accentBlue-700-20 .rounded-lg .pt-2 .pb-3 .px-3 .text-black .outline-none;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 50px #fff;
  height: 40px;
  transition: border-color 0.1s ease-in;
  width: 100%;

@media (min-width: 1199px) {
  height:48px;
}

&
:hover {
  @apply .border-accentBlue-1000;
}

&
:focus {
  @apply .border-accentBlue-1000;
}

&
::placeholder {
  font-size: 16px;
  color: black;
  opacity: 0.5;

@media (min-width: 1200px) {
  font-size:17px;
}
}
}

.field__input:placeholder-shown + .field__label {
  color: transparent;
  background-color: transparent;
}

.field__input:-ms-input-placeholder + .field__label {
  color: transparent;
  background-color: transparent;
}

.field__label {
  @apply .text-main;

  font-weight: 350;
  position: absolute;
  top: -6.2px;
  left: 15px;
  color: #7585A1;
  background-color: white;
  padding-right: 2px;
  padding-left: 2px;
  display: flex;
  align-items: center;
  transition: color .3s ease-in-out;
  margin-bottom: 3px;
  font-size: 10px;
  line-height: 13px;

@media (min-width: 640px) {
  font-size:13px;
}
}

.field__error-message {
  @apply .text-accentRed;
  height: 0;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
}

.pass-fields {
  min-width: 270px;
  max-width: 270px;

@media (max-width: 1199px) {
  min-width:235px;
  max-width:245px;
}

@media (max-width: 479px) {
  width:85%;
  max-width:100%;
}
}
@media only screen and (min-width: 1280px) {
  .reg-fields {
    width: 242px;
    height: 48px;
    font-size: 16px;
  }
}

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .reg-fields {
      width: 226px;
      height: 44px;
      font-size: 15px;
    }
  }

  @media only screen and (max-width: 767px) {
    .reg-fields {
      width: 288px;
      height: 40px;
      font-size: 14px;
    }
  }


.pass-fields--change-pass {
  min-width: unset;

@media (max-width: 1199px) {
  min-width:210px;
}

@media (max-width: 479px) {
  width:100%;
}
}


.field__input--city {
  width: 696px;

@media (max-width: 1199px) {
  width: 696px;
}


@media (max-width: 768px) {
  width: 696px;
}

@media (max-width: 320px) {
  width: 288px;
}
}

.generated-password-text {
  font-size: 15px;
  line-height: 1rem;
  white-space: nowrap;
  opacity: 0.5;

@media (max-width: 1199px) {
  font-size:14px;
}
}

.generated-password-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;

@media (max-width: 1199px) {
  height:40px;
}
}


.passw_ok {
  position: absolute;
  right: -12px;
  top: -10px;
}

.field-good {
  @apply .border-accentGreen-700;
}

.timer_minutes {
  color: rgba(0, 0, 0, 1);
}

.new-login-form {
  display: flex;
  flex-direction: column;
  position: relative;

}

.field__input.field__input--error {
  border-color: #FF312C;
}


.login-password-forgot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 568px;
  /*height: 96px;*/
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .login-password-forgot {
    gap: 18px;
    width: 480px;
    /*height: 85px;*/
    flex: none;
  }
}

@media only screen and (max-width: 767px) {
  .login-password-forgot {
    width: 288px;
    /*height: 137px;*/
    flex: none;
  }
}


.login-pass {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 568px;
  height: 48px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .login-pass {
    color: #16629A;
    display: flex;
    flex-direction: row;
    gap: 18px;
    width: 480px;
    height: 44px;
  }
}

@media only screen and (max-width: 767px) {
  .login-pass {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 288px;
    height: 98px;
  }
}

.forgot-pass {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 568px;
  height: 24px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .forgot-pass {
    gap: 18px;
    width: 480px;
    height: 23px;
  }
}

@media only screen and (max-width: 767px) {
  .forgot-pass {
    justify-content: center;
    text-align: center;
    width: 288px;
    height: 21px;
  }
}

.my-span {
  font-family: 'CoFo Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #16629A;
  flex: none;
  order: 0;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .my-span {
    width: 480px;
    height: 23px;
    font-size: 17px;
    line-height: 23px;
  }
}

@media only screen and (max-width: 767px) {
  .my-span {
    width: 288px;
    height: 21px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    justify-content: center;
  }
}

.span-line {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100%;
  bottom: -33.33%;
  font-family: 'CoFo Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FF312C;
}

.back-timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 568px;
  height: 48px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .back-timer {
    gap: 18px;
    width: 480px;
    height: 44px;

  }
}

@media only screen and (max-width: 767px) {
  .back-timer {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: auto;
  }

  #timer {
    margin: 0 auto;
    text-align: center;
  }
}

.center-items {
}

@media (max-width: 767px) {
  .center-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.back-timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 568px;
  height: 48px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .back-timer {
    gap: 18px;
    width: 480px;
    height: 44px;
  }
}

@media only screen and (max-width: 767px) {
  .back-timer {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: auto;
  }

  #timer {
    margin: 0 auto;
    text-align: center;
  }
}

.center-items {
}

@media (max-width: 767px) {
  .center-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
  }
}

.squares:not(:first-child) {
  margin-left: 14px;
}

.info-text {
  width: 568px;
  height: 48px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .info-text {
    width: 480px;
    height: 46px;
  }
}

@media only screen and (max-width: 767px) {
  .info-text {
    width: 288px;
    margin-bottom: 2.5rem;
  }
}
