# Ignore Gradle
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

# Frontend
node_modules/
package-lock.json
.vscode
.cache
/keycloak-extension/src/main/resources/themes/*/login/resources/build/
/frontend/*/build/
