.cities-container {
  max-height: 100%;
  height: auto;
}

.cities-column {
  width: 25%;
  justify-content: space-between;
}

.city {
  text-align: start !important;
}

.phone-call-center {
  margin-top: 4px;
}

@media screen and (max-width: 1199px){
  .phone-call-center {
    margin-top: 6px;
  }
}

@media screen and (max-width: 959px){
  .cities-column {
    width: 50%;
  }

  .cities-column:nth-child(2) {
    order: 3;
  }

  .cities-column:nth-child(4) {
    order: 4;
  }
}

@media screen and (max-width: 479px) {
  .phone--hidden-small {
    display: none;
  }
}
