.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: .75rem;
}

.title {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  margin-bottom: 30px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trow {
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.trow div {
  padding-left: 10px;
}
.titems:hover {
  background-color: #ffdd00;
  cursor: pointer;
}

.org-cell,
.role-cell {
  min-width: 220px;
}

.org-cell {
  text-overflow: ellipsis;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.8);
}
.role-cell {
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.theader > div {
  font-size: 13px !important;
  line-height: 17px !important;
  color: rgba(0, 0, 0, 0.3) !important;
}

@media (max-width: 960px) {
  .org-cell {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.35px;
  }
  .role-cell {
    color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .trow div {
    padding-left: 15px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .theader {
    display: none;
  }
  .trow {
    height: 60px;
    padding: 5px 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .trow div {
    padding-left: 25px;
    padding-right: 25px;
  }
  .org-cell {
    width: 100%;
    font-size: 14px;
    text-overflow: initial;
    color: #000000;
  }
  .role-cell {
    width: 100%;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 3px;
  }
}

@media (max-width: 320px) {
  .trow {
    height: 68px;
  }
  .trow div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .table-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .table {
    display: inline-block;
    max-width: 440px;
  }
  .trow {
    vertical-align: middle;
  }
  .trow div {
    display: table-cell;
    vertical-align: middle;
  }
}


