.field {
  display: flex;
  flex-direction: column;

  &--required {
    .field__label::before {
      width: 8px;
      height: 8px;

      margin-right: 4px;

      vertical-align: middle;

      border-radius: 50%;

      content: '';

      @apply .bg-extra;
    }
  }

  &--error {
    .field__input {
      @apply .border-accentRed;
    }
  }

  &--row {
    flex-direction: row;
  }
}

.field__container {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
}

.field__open {
  cursor:pointer;
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 66%;
}
.eye {
  opacity: 0.2;
}
.field__open:hover .eye {
  opacity: 0.5;
}

.field__input {
  @apply .border .border-accentBlue-700-20 .rounded-lg .pt-2 .pb-3 .px-3 .text-black .outline-none;

  height: 40px;
  transition: border-color 0.1s ease-in;
  @media (min-width: 1199px) {
    height: 48px;
  }

  &:hover
  {
    @apply .border-accentBlue-700;
  }
  &:focus
  {
    @apply .border-extra-700;
  }

  &::placeholder {
    font-size: 16px;
    color: black ;
    opacity: 0.5;
    @media (min-width: 1200px) {
      font-size: 17px;
    }
  }
}

.field__input:placeholder-shown + .field__label {
  color: transparent;
}
.field__input:-ms-input-placeholder + .field__label {
  color: transparent;
}

.field__label {
  @apply .text-main;

  display: flex;
  align-items: center;
  transition: color .3s ease-in-out;
  margin-bottom: 3px;
  font-size: 10px;
  line-height: 13px;

  @media (min-width: 640px) {
    font-size: 13px;
  }
}

.field__error-message {
  @apply .text-accentRed;
  height: 0;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
}

.pass-fields {
  min-width: 225px;
  max-width: 225px;

  @media (max-width: 1199px) {
    min-width: 210px;
    max-width: 210px;
  }

  @media (max-width: 479px) {
    width: 100%;
    max-width: unset;
  }
}

.pass-fields--change-pass {
  min-width: unset;

  @media (max-width: 1199px) {
    min-width: 210px;
  }

  @media (max-width: 479px) {
    width: 100%;
  }
}


.field__input--city {
  width: 384px;

  @media (max-width: 1199px) {
    width: 280px;
  }

  @media (max-width: 959px) {
    width: 288px;
  }

  @media (max-width: 639px) {
    width: 231px;
  }

  @media (max-width: 479px) {
    width: 240px;
  }
}

.generated-password-text {
  font-size: 15px;
  line-height: 19px;
  white-space: nowrap;
  opacity: 0.5;

  @media (max-width: 1199px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.passw_ok {
  position: absolute;
  right: 0;
  top: 3px;
}

.field-good {
  @apply .border-accentGreen-700;
}

.timer_minutes {
  color: rgba(0, 0, 0, 0.5);
}
