.logo {
  &--domru {
    background-image: url('./images/domru-logo.svg');
  }

  /* Пример */
  &--github {
    background-image: url('./images/social/GU.svg');
  }

  &--facebook {
    background-image: url('./images/social/FB.svg');

    :hover {
      background-image: url('./images/social/FB-hover.svg');
      background-color: #1D45A1;
      border-radius: 8px;
    }
  }

  &--google {
    background-image: url('./images/social/GO.svg');
  }


  &--esia {
    background-image: url('./images/social/GU.svg');
  }

  &--vkontakte {
    background-image: url('./images/social/VK.svg');

    :hover {
      background-image: url('./images/social/VK-hover.svg');
      background-color: #0F6DDB;
      border-radius: 8px;
    }
  }
}
