.logo {
  &--domru {
    background-image: url('./images/domru-logo.svg');
  }

  &-social-providers {
    display: flex;
    align-items: center;
    .logo {
      transition: background-color 0.2s ease-in-out;
      display: block;
      height: 44px;
      width: 44px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      border-radius: 8px;
    }
  }

  /* Пример */
  &--github {
    background-image: url('./images/social/GU.svg');
  }

  &--facebook {
    background-image: url('./images/social/FB.svg');

    &:hover {
      background-image: url('./images/social/FB-hover.svg');
      background-color: #1D45A1;
      border-radius: 8px;
    }
  }

  &--google {
    background-image: url('./images/social/GO.svg');

    &:hover {
      background-image: url('./images/social/GO-hover.svg');
      background-color: #E31E24;
      border-radius: 8px;
     }
  }


  &--esia {
    background-image: url('./images/social/GU.svg');

    &:hover {
      background-image: url('./images/social/GU-hover.svg');
      background-color: #D75CBC;
      border-radius: 8px;
    }

  }

  &--vkontakte {
    background-image: url('./images/social/VK.svg');

    &:hover {
      background-image: url('./images/social/VK-hover.svg');
      background-color: #0F6DDB;
      border-radius: 8px;
    }
  }
}
