frontend keycloak_frontend
     bind *:8080
     mode tcp
     default_backend keycloak_backend

backend keycloak_backend
     mode tcp
     server keycloak1 keycloak1:8080
     server keycloak2 keycloak2:8080
