frontend infinispan_frontend
      bind *:11222
      mode tcp
      default_backend infinispan_backend

backend infinispan_backend
      mode tcp
      server infinispan1 infinispan1:11222
      server infinispan2 infinispan2:11222
#      server infinispan3 infinispan3:11222

frontend keycloak_frontend
     bind *:8080
     mode tcp
     default_backend keycloak_backend

backend keycloak_backend
     mode tcp
     server keycloak1 keycloak1:8080
     server keycloak2 keycloak2:8080
#     server keycloak3 keycloak3:8080
