@font-face {
  font-family: 'Suisse Intl';
  src: url('../assets/fonts/SuisseIntl-Regular.eot');
  src: local('Suisse Intl'), local('SuisseIntl-Regular'),
  url('../assets/fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SuisseIntl-Regular.woff2') format('woff2'),
  url('../assets/fonts/SuisseIntl-Regular.woff') format('woff'),
  url('../assets/fonts/SuisseIntl-Regular.ttf') format('truetype'),
  url('../assets/fonts/SuisseIntl-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
