.logo {
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  background-image: url('../assets/images/logo.svg');

  &__container {
    max-width: 200px;
    width: 100%;
  }
}

.phone {
  display: flex;
  align-items: center;
  gap: 8px;
}