.container {
  display: flex;
}

.ok {
  width: 104px;
  height: 104px;
  margin-right: 33px;
}

.text {
  font-size: 17px;
  line-height: 22px;
  color: #222222;
  opacity: 0.5;
}

.text__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 35px;
  opacity: 1;
  margin-top: 12px;
}

.text__email {
  font-size: 19px;
  line-height: 26px;
  opacity: 1;
  padding-bottom: 10px;
}

.text--close {
  padding-bottom: 3px;
}

.text--far {
  padding-bottom: 35px;
}

.btn--thanks {
  width: 203px;
}

@media screen and (max-width: 1279px) {
  .ok {
    width: 78px;
    height: 78px;
    margin-right: 28px;
  }

  .text {
    font-size: 15px;
    line-height: 19px;
  }

  .text__email {
    font-size: 19px;
    line-height: 26px;
  }

  .text__title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
  }

  .text--far {
    padding-bottom: 43px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .ok {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .text__title {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 15px;
  }

  .text--far {
    padding-bottom: 30px;
  }
}


@media screen and (max-width: 767px) {
  .ok {
    margin-bottom: 16px;
  }

  .text {
    font-size: 14px;
    line-height: 19px;
  }

  .text__email {
    font-size: 16px;
    line-height: 20px;
  }

  .text__title {
    font-size: 27px;
    line-height: 32px;
    padding-bottom: 7px;
  }

  .btn--thanks {
    width: 100%;
  }
}
