.header {
		&__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
		}

		&__logo {
		}

		&__info {
      text-wrap: nowrap;
		}
}

.header-info {
		&__phone {
		}
}


