.kc-user-customer-account-chip > .pf-v5-c-chip__content > .pf-v5-c-chip__text {
    font-size: var(--pf-v5-c-table--cell--FontSize);
}

.kc-user-customer-account-chip > .pf-v5-c-chip__actions > .pf-v5-c-button {
    font-size: var(--pf-v5-c-table--cell--FontSize);
    vertical-align: middle;
}
