<script type="text/javascript">
    if ((location.search.indexOf('hiddenHeader%3Dtrue') > 0) || (location.search.indexOf('hiddenHeader=true') > 0)) {
        document.getElementById("chat-script").src = "";
        if ((location.search.indexOf('hiddenHeader%3Dtrue') < 0) && (location.search.indexOf('hiddenHeader=true') < 0)) {
            let script = document.createElement('script');
            script.id = "chat-script";
            script.type= 'text/javascript';
            script.src = "//perm.b2b.domru.ru/chat/?domainUrl=//perm.b2b.domru.ru&amp;cityDomain=perm&amp;cityId=1";
            document.body.appendChild(script);
        }
</script>

