@font-face {
	font-family: 'Affect';
	src: url('./fonts/Affect-Bold.eot');
	src: local('Affect Bold'), local('Affect-Bold'),
		url('./fonts/Affect-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Affect-Bold.woff') format('woff'),
		url('./fonts/Affect-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Affect';
	src: url('./fonts/Affect.eot');
	src: local('Affect'),
		url('./fonts/Affect.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Affect.woff') format('woff'),
		url('./fonts/Affect.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts/IBMPlexSans.eot');
    src: local('IBM Plex Sans'), local('IBMPlexSans'),
        url('./fonts/IBMPlexSans.eot?#iefix') format('embedded-opentype'),
        url('./fonts/IBMPlexSans.woff') format('woff'),
        url('./fonts/IBMPlexSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts/IBMPlexSans-SemiBold.eot');
    src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
        url('./fonts/IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/IBMPlexSans-SemiBold.woff') format('woff'),
        url('./fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
} 

/* Фоллбэк, если не придут шрифты чата novatelecom */
@font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/RobotoRegular.woff2') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: icomoon;
  font-style: normal;
  src: url('./fonts/icomoon.woff') format('woff');
}