.confirm__title {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  padding: 25px;
}

.select-city-confirmation{
  background: #FFFFFF;
  position: fixed;
  right: 170px;
  top: 75px;
  height: 120px;
  border-radius: 20px;
}

.confirm__btns {
  padding-left: 25px;
  padding-bottom: 32px;
  padding-right: 110px;
}

.confirm__btn {
  box-sizing: border-box;
}

.confirm__btn:first-child {
}

@media screen and (max-width: 1199px){
  .confirm__btns {
  }
}

@media screen and (max-width: 959px){
  .confirm__btns {
    flex-direction: row;
    align-items: center;
  }

  .confirm__btn:first-child {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .confirm__title {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 639px){
  .confirm__btns {
    flex-direction: row;
  }

  .confirm__btn:first-child {
    margin-right: 16px;
    margin-bottom: 0;
  }
  .confirm__title {
    font-size: 14px;
    line-height: 32px;
    opacity: 0.8;
    max-width: 300px;
  }

}

@media screen and (max-width: 479px){

  .confirm__btn:first-child {
    margin-right: 16px;
  }

  .select-city-confirmation{
    right: 10px;
    top: 75px;
  }

  .confirm__btns {
    padding-left: 18px;
    padding-bottom: 32px;
    padding-right: 100px;
  }

  .confirm__title {
    padding: 18px;
  }
}

