<div>
    <ul class="nav nav-tabs">
        <li data-ng-class="(
                        path[2] == 'custom-settings-general'
                        ) && 'active'"><a href="#/realms/{{realm.realm}}/custom-settings/general">Realm settings</a>
        </li>
        <li data-ng-class="(
                        path[2] == 'custom-settings-front'
                        ) && 'active'"><a href="#/realms/{{realm.realm}}/custom-settings/front">Front settings</a>
        </li>
        <li data-ng-class="(
                        path[2] == 'custom-settings-message'
                        ) && 'active'"><a href="#/realms/{{realm.realm}}/custom-settings/message">Message settings</a>
        </li>
        <li data-ng-class="(
                        path[2] == 'custom-settings-application'
                        ) && 'active'"><a href="#/realms/{{realm.realm}}/custom-settings/application">Application
            settings</a>
        </li>
        <li data-ng-class="(
                        path[2] == 'custom-settings-gateway'
                        ) && 'active'"><a href="#/realms/{{realm.realm}}/custom-settings/gateway">Sender gateway</a>
        </li>
    </ul>
</div>