image:
  repository: harbor.ertelecom.ru/sso-protected/sso
  tag: ${CI_PIPELINE_ID}
  pullPolicy: Always

serviceAccount:
  create: false

imagePullSecrets:
  - name: regcred

replicaCount: 3

preStopDelay:
  enabled: true
  delaySeconds: 15

extraEnvs:
  DB_DATABASE: "${DB_DATABASE}"
  KEYCLOAK_HOSTNAME: "${FQDN}"
  DB_HOST: "${DB_HOST}"
  DB_PORT: "${DB_PORT}"
  SITE: "stage"
  TZ: "Asia/Yekaterinburg"  

extraSensitiveEnvs:
  DB_USER: "${DB_USER}"
  DB_PASSWORD: "${DB_PASSWORD}"

service:
  type: ClusterIP
  loadBalancerIP: ""
  httpNodePort: ""
  # The http Service port
  httpPort: 80
  extraPorts: []

ingress:
- annotations: {}
  hosts:
    - host: "${FQDN}"
      paths: /
  tls:
    - secretName: ${TLS_SECRET}
      hosts:
        - "${FQDN}"
