<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <h1>Front settings</h1>
    <kc-tabs-settings></kc-tabs-settings>
    <form class="form-horizontal" name="frontForm" novalidate>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Description</th>
                <th colspan="2">{{:: 'actions' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="setting in settings" data-ng-if="setting.type=='FRONT'">
                <td class="clip">{{setting.name}}</td>
                <td class="clip">
                    <input class="form-control" type="text" ng-model="setting.value" name="setting-value"/>
                </td>
                <td class="clip">{{setting.desc}}</td>
                <td class="kc-action-cell" data-ng-click="updateSetting(setting)">{{:: 'save' | translate}}</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<kc-menu></kc-menu>