<style>
    li.role-list {
        list-style-type: none; /* Убираем маркеры */
    }

    ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }

    .w-full {
        width: 100%;
    }

    .inner-table__cell {
        text-align: center;
    }

    .nullable__margin {
        margin: 0 0 0 0;
    }

    .modal-body {
        white-space: pre;
    }

    li.clip {
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        padding: 0px 5px 0px 5px; /* Поля вокруг текста */
        text-overflow: ellipsis; /* Добавляем многоточие */
    }
</style>
<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" ng-init="init()">

    <kc-tabs-users></kc-tabs-users>

    <table class="table table-striped table-bordered" id="user-table">
        <caption data-ng-show="users" class="hidden">{{:: 'table-of-realm-users' | translate}}</caption>
        <thead>
        <tr>
            <th colspan="14">
                <div class="form-inline">
                    <div class="form-group form-inline">
                        <div class="form-group">
                            <div class="input-group-addon">
                                <input type="text" placeholder="{{:: 'search.placeholder' | translate}}"
                                       data-ng-model="query.search" class="form-control search"
                                       onkeydown="if (event.keyCode == 13) document.getElementById('searchUsers').click()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-addon">
                                <input type="text" placeholder="Search by User Id..."
                                       data-ng-model="query.searchByUserId" class="form-control search"
                                       onkeydown="if (event.keyCode == 13) document.getElementById('searchUsers').click()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-addon">
                                <input type="text" placeholder="Search by Toms Id..."
                                       data-ng-model="query.searchByTomsId" class="form-control search"
                                       onkeydown="if (event.keyCode == 13) document.getElementById('searchUsers').click()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-addon">
                                <input type="text" placeholder="Search by Phone..."
                                       data-ng-model="query.searchByPhone" class="form-control search"
                                       onkeydown="if (event.keyCode == 13) document.getElementById('searchUsers').click()">
                            </div>
                        </div>
                    </div>
                    <button id="searchUsers" class="btn btn-default" ng-click="firstPage()">Search users</button>
                    <button id="viewAllUsers" class="btn btn-default" ng-click="query.search = ''; query.searchByUserId = ''; query.searchByTomsId = ''; query.searchByPhone = ''; firstPage()">{{::
                        'view-all-users' | translate}}
                    </button>
                    <select class="form-control" name="realmsSelect" ng-model="query.searchRealm" ng-change="changeSearchRealm()"
                            ng-options="x for x in userRealms">
                    </select>

                    <div class="pull-right" data-ng-show="access.manageUsers">
                        <button data-ng-click="downloadTemplateCSV()" data-ng-show="access.viewRealm" class="btn btn-default">Download Template CSV</button>
                        <button data-ng-click="downloadTemplateXlsx()" data-ng-show="access.viewRealm" class="btn btn-default">Download Template Excel</button>

                        <label for="import-file-csv" class="btn btn-default ng-binding" data-ng-show="access.viewRealm">Import CSV<i
                                class="pficon pficon-import"></i></label>
                        <input id="import-file-csv" type="file" class="hidden" accept=".csv" data-ng-show="access.viewRealm"
                               onchange="angular.element(this).scope().importFileCSV(this.files)">

                        <label for="import-file-xlsx" class="btn btn-default ng-binding" data-ng-show="access.viewRealm">Import Xlsx<i
                                class="pficon pficon-import"></i></label>
                        <input id="import-file-xlsx" type="file" class="hidden" accept=".xlsx" data-ng-show="access.viewRealm"
                               onchange="angular.element(this).scope().importFileExcel(this.files)">

                        <button data-ng-click="exportCSV()" class="btn btn-default">Export CSV</button>
                        <button data-ng-click="exportXlsx()" class="btn btn-default">Export Excel</button>

                        <button data-ng-click="selectedResetPassword()" class="btn btn-default">Reset Password</button>
                        <button data-ng-click="selectedBlockUsers()" class="btn btn-default">Block Users</button>
                        <button data-ng-click="unlockUsers()" class="btn btn-default">{{:: 'unlock-users' | translate}}</button>
                        <a id="createUser" class="btn btn-default" href="#/create/user/{{realm.realm}}?searchRealm={{query.searchRealm}}" >{{:: 'add-user' | translate}}</a>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
        <tr data-ng-show="searchLoaded && users.length > 0">
            <th class="w-1"></th>
            <th class="w-1">
                <input type="checkbox" data-ng-click="selectAll()" data-ng-model="selectedAll"> Select
            </th>
            <th class="w-12">{{:: 'id' | translate}}</th>
            <th class="w-12">{{:: 'username' | translate}}</th>
            <th class="w-12" data-ng-click="sort(SORT_FIELD_EMAIL)">{{:: 'email' | translate}}  {{sortMarkEmail}}</th>
            <th class="w-12" data-ng-click="sort(SORT_FIELD_NAME)">{{:: 'first-name' | translate}}  {{sortMarkName}}</th>
            <th class="w-1">Enabled</th>
            <th class="w-12">Phone</th>
            <th class="w-12">Organization</th>
            <th class="w-12">Toms Id</th>
            <th class="w-12">Roles</th>
            <th class="w-12">Systems</th>
            <th colspan="{{serverInfo.featureEnabled('IMPERSONATION') && access.impersonation == true ? '3' : '2'}}">
                {{:: 'actions' | translate}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.num}}</td>
            <td class="clip" style="width: 5%">
                <input type="checkbox" data-ng-model="user.active"/>
            </td>
            <td class="clip"><a href="#/realms/{{realm.realm}}/users/{{user.id}}?searchRealm={{query.searchRealm}}">{{user.id}}</a>
            </td>
            <td class="clip" rowspan="">{{user.username}}</td>
            <td class="clip">{{user.email}}</td>
            <td class="clip">{{user.firstName}}</td>
            <td class="clip">
                <input type="checkbox" data-ng-model="user.enabled" disabled/>
            </td>
            <td class="clip">{{user.phone}}</td>
            <td class="clip" colspan="1" style="padding: 0 0 0 0">
                <table class="table nullable__margin table-striped table-bordered w-full" data-ng-if="user.userPosts.length > 0">
                    <tr data-ng-repeat="userPost in user.userPosts" >
                        <td class="clip inner-table__cell">
                            <li ng-repeat="org in getOrgs(userPost) track by $index" class="role-list clip">
                                <span>{{org}}</span>
                            </li>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="clip" colspan="1" style="padding: 0 0 0 0">
                <table class="table nullable__margin table-striped table-bordered w-full" data-ng-if="user.userPosts.length > 0">
                    <tr data-ng-repeat="userPost in user.userPosts" >
                        <td class="clip">
                            <li ng-repeat="tomsId in getTomsIds(userPost) track by $index" class="role-list clip">
                                {{tomsId}}
                            </li>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="clip" colspan="1" style="padding: 0 0 0 0">
                <table class="table nullable__margin table-striped table-bordered w-full" data-ng-if="user.userPosts.length > 0">
                    <tr data-ng-repeat="userPost in user.userPosts" >
                        <td class="clip inner-table__cell">
                            <li ng-repeat="roleName in getRoleNames(userPost) track by $index" class="role-list clip">
                                <span>{{roleName}}</span>
                            </li>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="clip" colspan="1" style="padding: 0 0 0 0">
                <table class="table nullable__margin table-striped table-bordered w-full" data-ng-if="user.userPosts.length > 0">
                    <tr data-ng-repeat="userPost in user.userPosts" >
                        <td class="clip inner-table__cell">
                            <li ng-repeat="sysName in getSystemNames(userPost) track by $index" class="role-list clip">
                                <span>{{sysName}}</span>
                            </li>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="kc-action-cell" data-ng-click="editUser(user)">{{:: 'edit' | translate}}
            </td>
            <td class="kc-action-cell" data-ng-click="removeUser(user)">{{:: 'delete' | translate}}</td>
        </tr>
        <tr data-ng-show="!users || users.length == 0">
            <td class="text-muted" data-ng-show="!users">{{:: 'users.instruction' | translate}}</td>
            <td class="text-muted" data-ng-show="searchLoaded && users.length == 0 && lastSearch != null">{{::
                'no-results' | translate}}
            </td>
            <td class="text-muted" data-ng-show="searchLoaded && users.length == 0 && lastSearch == null">{{::
                'no-users-available' | translate}}
            </td>
        </tr>
        </tbody>
    </table>

    <div id="loading" >Loading...</div>

    <!--		Start Pagination -->
    <div class='pagination-container' >
        <nav>
            <ul class="pagination">
                <select class  ="form-control" name="state" ng-model="pageSize" ng-change="firstPage()" ng-init="pageSize='10'">
                    <option selected value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="70">70</option>
                    <option value="100">100</option>
                </select>

                <li data-page="first" >
                    <span> << <span class="sr-only">(current)</span></span>
                </li>
                <li data-page="prev" >
                    <span> < <span class="sr-only">(current)</span></span>
                </li>
                <li data-page="next" id="prev">
                    <span> > <span class="sr-only">(current)</span></span>
                </li>
                <li data-page="last">
                    <span> >> <span class="sr-only">(current)</span></span>
                </li>

                <button data-ng-click="moreSearch()" class="btn btn-default more-search">More results</button>
            </ul>
        </nav>
    </div>

</div> <!-- 		End of Container -->

<kc-menu></kc-menu>
