<style>
    li.role-list {
        list-style-type: none; /* Убираем маркеры */
    }
    ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
</style>
<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/users">{{:: 'users' | translate}}</a></li>
        <li>{{user.username}}</li>
    </ol>

    <kc-tabs-user></kc-tabs-user>

    <form class="form-horizontal" kc-read-only="!user.access.manage" name="realmForm" novalidate>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>toms</th>
                <th>dmp</th>
                <th>role</th>
                <th>system</th>
                <th>{{:: 'actions' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="userPost in userPosts ">
                <td>{{userPost.tomsId}}</td>
                <td>{{userPost.dmpId}}</td>
                <td>
<!--                    selected="{{userPost.userRole.id == customerRole.id}}"-->
                    <select name="customerRole" ng-model="userPost.userRole.id">
                        <option ng-repeat="customerRole in customerRoles" ng-value="{{customerRole.id}}">
                            {{customerRole.name}}
                        </option>
                    </select>
                    <button data-ng-click="editUserPost(userPost.id, userPost.userRole.id)" style="color: #6688c9">change</button>
                </td>
                <td>
                    <div class="form-horizontal">
                        <div class="form-inline">
                            <ul>
                                <li ng-repeat="roleExt in userPost.systemRoles" class="role-list">
                                    <span>{{roleExt.externalSystem.name}}</span>
                                    <button data-ng-click="removeSystemRole(userPost.id, roleExt.id)" style="color: #6688c9">delete</button>
                                </li>
                            </ul>
                        </div>
                        <div class="form-inline">
                            <select ng-model="selectedSystemRole[$index]"
                                    ng-options="y.externalSystem.name for (x, y) in systemRoles"> </select>
                            <button data-ng-click="addSystemRole(userPost.id, selectedSystemRole[$index].id)" style="color: #6688c9">add</button>
                        </div>
                    </div>

                </td>
                <td class="kc-action-cell" data-ng-click="removeUserPost(userPost.id)">{{:: 'delete' | translate}}</td>
            </tr>
            <tr>
                <td><input class="form-control" id="newTomsId" ng-model="newAccess.tomsId" type="text"/></td>
                <td><input class="form-control" id="newDmpId" ng-model="newAccess.dmpId" type="text"/></td>
                <td></td>
                <td></td>
                <td class="kc-action-cell" data-ng-click="addUserPost()"
                    data-ng-disabled="!newAccess.key.length || !newAttribute.value.length">{{:: 'add' | translate}}
                </td>
            </tr>
            </tbody>
        </table>

        <!--<div class="form-group" data-ng-show="user.access.manage">-->
        <!--<div class="col-md-12">-->
        <!--<button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>-->
        <!--<button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>-->
        <!--</div>-->
        <!--</div>-->
    </form>
</div>

<kc-menu></kc-menu>