<style>
    li.role-list {
        list-style-type: none; /* Убираем маркеры */
    }

    ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
</style>
<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/users">{{:: 'users' | translate}}</a></li>
        <li>{{user.username}}</li>
    </ol>

    <kc-tabs-user></kc-tabs-user>

    <form class="form-horizontal" name="realmForm">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>current select</th>
                <th>id</th>
                <th>organization</th>
                <th>account</th>
                <th>toms</th>
                <th>dmp</th>
                <th>role</th>
                <th>system</th>
                <th data-ng-show="access.manageUsers && (auth.authz.realm === 'master' || access.buttonDeleteCustomer || access.buttonAddCustomer">
                    {{:: 'actions' | translate}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="userPost in userPosts ">
                <td>{{userPost.selected === true ? "selected" : ""}}</td>
                <td>{{userPost.id}}</td>
                <td class="clip">{{userPost.organization}}</td>
                <td>

                    <div class="form-horizontal">
                        <div class="form-inline">
                            <ul>
                                <li class="role-list" ng-repeat="acc in accMap[userPost.id].accounts">
                                    <span>{{acc.value}}</span>
                                    <button data-ng-click="removePersonalAccount(userPost.id, acc.uuid)"
                                            data-ng-hide="!(access.manageUsers && (auth.authz.realm === 'master' || access.editCustomer))"
                                            style="color: #6688c9">delete
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="form-inline"
                             data-ng-hide="!(access.manageUsers && (auth.authz.realm === 'master' || access.editCustomer))">
                            <input class="form-control" id="newAcc{{userPost.id}}" ng-model="newAcc[userPost.id].value"
                                   type="text"/>
                            <button data-ng-click="addPersonalAccount(userPost.id)" style="color: #6688c9">add</button>
                        </div>
                    </div>

                </td>
                <td>{{userPost.tomsId}}</td>
                <td>{{userPost.dmpId}}</td>
                <td>
                    <select data-ng-show="access.manageUsers && (auth.authz.realm === 'master' || access.editCustomer)"
                            name="customerRole"
                            ng-model="userPost.userRole.id">
                        <option ng-repeat="customerRole in customerRoles" ng-value="{{customerRole.id}}">
                            {{customerRole.name}}
                        </option>
                    </select>
                    <div data-ng-hide="access.manageUsers && (auth.authz.realm === 'master' || access.editCustomer)">
                        {{userPost.userRole.name}}
                    </div>
                    <button data-ng-click="editUserPost(userPost.id, userPost.userRole.id)"
                            data-ng-show="access.manageUsers && (auth.authz.realm === 'master' || access.editCustomer)"
                            style="color: #6688c9">
                        change
                    </button>
                </td>
                <td>
                    <div class="form-horizontal">
                        <div class="form-inline">
                            <ul>
                                <li class="role-list" ng-repeat="roleExt in userPost.systemRoles">
                                    <span>{{roleExt.externalSystem.name}}</span>
                                    <button data-ng-click="removeSystemRole(userPost.id, roleExt.id)"
                                            data-ng-show="access.manageUsers && (auth.authz.realm === 'master' || access.editCustomer)"
                                            style="color: #6688c9">delete
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="form-inline"
                             data-ng-show="access.manageUsers && (auth.authz.realm === 'master' || access.editCustomer)">
                            <select ng-model="selectedSystemRole[$index]"
                                    ng-options="y.externalSystem.name for (x, y) in systemRoles"> </select>
                            <button data-ng-click="addSystemRole(userPost.id, selectedSystemRole[$index].id)"
                                    style="color: #6688c9">add
                            </button>
                        </div>
                    </div>

                </td>
                <td class="kc-action-cell"
                    data-ng-click="removeUserPost(userPost.id)"
                    data-ng-show="access.manageUsers && (auth.authz.realm === 'master' || access.buttonDeleteCustomer)">
                    {{:: 'delete' | translate}}
                </td>
            </tr>
            <tr data-ng-show="access.manageUsers && (auth.authz.realm === 'master' || access.buttonAddCustomer)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input class="form-control" id="newTomsId" ng-model="newAccess.tomsId" type="text"/></td>
                <td><input class="form-control" id="newDmpId" ng-model="newAccess.dmpId" type="text"/></td>
                <td>
                    <select ng-model="newAccess.customerRole" ng-options="y.name for (x, y) in customerRoles"> </select>
                </td>
                <td></td>
                <td class="kc-action-cell" data-ng-click="addUserPost()"
                    data-ng-disabled="!newAccess.key.length || !newAttribute.value.length">{{:: 'add' | translate}}
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<kc-menu></kc-menu>